<h1>To-do list</h1>

<%= link_to "Add a task", new_task_path %>

<% @tasks.each do |task| %>
  <h2><%= link_to task.name, task_path(task) %></h2>
  <%= link_to "Delete task", task_path(task), method: :delete %>
  <%= link_to "Edit task", edit_task_path(task) %>
<% end %>
